.NavbarItems{
    background-color:rgb(110,94,254);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.logo{
    margin-left: 50px;
}

.nav-menu{
    display: flex;
    list-style: none;
    text-align: center;
    width: 100%;
    justify-content: flex-end;
    margin-right: 2rem;
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 2rem;
}

.nav-links:hover {
    background-color: white;
    border-radius: 4px;
    transition: all 0.5s ease;
    color: rgb(40, 40, 138);
}

.icon{
    color: white;
}

.menu-icon{
    display: none;
}
 
@media screen and (max-width:960px){
    .NavbarItems{
        position: relative;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        width: 100%;
        height: 600px;
        position: absolute;
        top:80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active{
        background: #6668f4;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        color: rgb(40, 40, 138);
        background-color: white;
    }
    .logo{
        margin-left: 5px;
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%,60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}

