.courseContainer {
  padding: 50px;
  background-color: black;
}

.coursebtn {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;
}
.courseImage {
  width: 60%;
}

.courseImage > img {
  width: 100%;
}
.courseHedding {
  color: white;
  font-size: 20px;
}

.box {
  width: 10px;
  height: 10px;
  background-color: white;
  margin: auto;
  margin-top: 15px;
}

.courseDetilsContainer {
  display: flex;
}

.couresInfo {
  text-align: left;
  padding: 20px;
  width: 35%;
}
.couresInfo > h1 {
  color: white;
  margin-top: 50px;
}

.couresInfo > p {
  color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .courseContainer {
    padding: 10px;
  }

  .courseHedding {
    color: white;
    font-size: 15px;
    text-align: center;
  }

  .courseDetilsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .courseImage {
    width: 100%;
  }

  .couresInfo {
    text-align: center;
    padding: 20px;
    width: 100%;
  }
}

@media (min-device-width: 800px) and (max-device-width: 1280px) {
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
}
