.button {
  color: white;
  font-weight: bolder;
  background-color: black;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 25px;
  margin-top: 25px;
  cursor: pointer;
  outline: none;
}

.button:hover {
  color: black;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .button {
    color: white;
    font-weight: bolder;
    background-color: black;
    padding: 6px 12px;
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 25px;
    cursor: pointer;
    outline: none;
  }
}
